<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="ir.hatamiarash.gitlearning">

	<uses-sdk tools:overrideLibrary="co.ronash.pushe"/>
	<permission
		android:name="ir.hatamiarash.gitlearning.permission.C2D_MESSAGE"
		android:protectionLevel="signature"/>

	<uses-permission android:name="ir.hatamiarash.gitlearning.permission.C2D_MESSAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		tools:node="remove"/>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		tools:node="remove"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="gitlearning"
					android:scheme="hatamiarash"/>
			</intent-filter>
		</activity>

		<receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED"/>
				<data
					android:path="ir.hatamiarash.gitlearning"
					android:scheme="package"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name="co.ronash.pushe.receiver.PusheGcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

				<category android:name="ir.hatamiarash.gitlearning"/>
			</intent-filter>
		</receiver>

		<meta-data
			android:name="co.ronash.pushe.token"
			android:value="PUSHE_192137087735"/>
		<meta-data
			android:name="co.ronash.pushe.cr"
			android:value="aHR0cDovLzJjNzBjZGM1N2VmNjQyMjk4NmY4NmMyNjJmNDAxZjM0OjczZTIxZjVhMDkyMzRjNjc5YWQzZWNmZTM5OGZmM2YxQGNhLnB1c2hlLmlyLzYzODE="/>
	</application>
</manifest>